[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
PyGithub = "==1.43.8"
Mako = "==1.1.0"
requests-cache = "==0.5.2"
misaka = "==2.1.1"

[requires]
python_version = "3.7"
