[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cached-property = "*"
misaka = "*"
pytz = "*"
requests = "*"
requests-cache = "*"
Mako = "*"
PyGithub = ">=1.44"
pytest = "*"
faker = "*"
pytest-cov = "*"
python-coveralls = "*"
black = "*"

[packages]
PyGithub = "*"
Mako = "*"
requests-cache = "*"
misaka = "*"
pytz = "*"
cached-property = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
