-i https://pypi.org/simple/
cached-property==1.5.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
deprecated==1.2.12
idna==2.8
mako==1.1.0
markupsafe==2.0.0rc2
misaka==2.1.1
pycparser==2.20
pygithub==1.44
pyjwt==2.0.1
pytz==2019.3
requests-cache==0.5.2
requests==2.22.0
six==1.15.0
urllib3==1.25.11
wrapt==1.12.1
