-i https://pypi.org/simple
cached-property==1.5.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
deprecated==1.2.6
idna==2.8
mako==1.1.0
markupsafe==1.1.1
misaka==2.1.1
pycparser==2.19
pygithub==1.44
pyjwt==1.7.1
pytz==2019.3
requests-cache==0.5.2
requests==2.22.0
six==1.12.0
urllib3==1.25.6
wrapt==1.11.2
