
body {
  font-family: sans-serif;
}

dt {
  font-weight: bold;
}

.repo h2 {
  font-family: monospace;
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
  margin: 0;
  border: 1px solid #000;
  background-color: #e77500;
}

.issue {
  padding: .4em;
  margin: 0;
}

.issue h3 {
  margin: .3em 0 0 0;
}

.issue dl {
  margin: .5em 0 0 0;
}

.issue.even {
  background-color: #d3d3d3;
}

.comments dt {
  padding: .3em 0;
  /* background-color: #d3d3d3; */
  max-width: 800px;
}
.comments dd {
  margin-left: 0;
  max-width: 800px;
}

.comments dd p {
  margin-top: 0;
}

.comments blockquote {
  border-left: 4px solid red;
  margin: 0 0 0 .1em;
  padding-left: .5em;
}

.comments blockquote h2 {
  background-color: inherit;
  border: none;
}

.comments ul li p {
  margin: 0;
}

.comments .not_last {
  border-bottom: 1px solid #000;
}
